/*Navbar Customizations*/
@media (min-width:767px) {
	.navbar .nav>li {
	    display: table-cell;
	    width: 1%;
	    height:100%;
	    float: none;
	}
}
.navbar .navbar-inner {
	    padding: 0;
	}
.navbar .nav>li>a {
	    font-weight: bold;
	    text-align: center;
	}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a{
		color: #FFF;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{
		color: #FFF;
		background-color: #9D2A44
	}
	.navbar-default .navbar-nav>li>a {
		text-align:left;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.navbar-nav {
		margin: 0;
	}
}
.navbar-collapse {
	padding:0;
}
/***** Coloring *****/
.navbar-default {
	background-color: #800000;
	border-color: #800000;
	color: #FFF;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #FFF;
	background-color: #9D2A44;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #FFF;
	background-color: #9D2A44;
}
.navbar-nav>li>.dropdown-menu {
	background-color: #800000;
	border-color: #800000;
	color: #FFF;
}
.navbar-default .navbar-nav>li>a {
	color: #FFF;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #FFF;
	background-color: #9D2A44;
}
.navbar-default .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background-color: #9D2A44;
	color: #FFF;
}
.navbar-default .dropdown-menu>li>a {
	color: #FFF;
}
.navbar-toggle .collapsed, .navbar-default .navbar-toggle:focus {
	background-color: #800000;
	color: #FFF;
}
.navbar-default .navbar-toggle:hover{
	color: #FFF;
	background-color: #9D2A44;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF;
}
.navbar-default .navbar-toggle {
	border-color: #FFF;
}
/***** Logo Size/Positioning *****/
@media (max-width: 425px) {
	#logo {
		width:100%;
	}
	.picture-header {
		text-align: center;
	}
}
.picture-header {
	padding-top:15px;
	padding-bottom:10px;
}
/********** End of Navbar Customizations **********/

/********** GENERAL CSS **********/

body {
	background-color: #F2F2C4
}

blockquote {
	border-color: #800000;
}

.activity-img {
	margin: 5px;
}

.commentarea {
	max-width: 500px;
	width: 100%;
	min-width: 250px;
}

#groupImg {
	padding-bottom: 3px;
}

.indent {
	padding-left: 20px;
}

#logo {
	max-width:250px;
}

#map-container {
	max-width:700px;
	margin: 0 auto;
}

.margin-auto {
	float:none;
	margin: 0 auto;
}

#shadowbox {
	position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1001;
    visibility: hidden;
	/*filter: alpha(opacity=40); /* For IE8 and earlier */
}

#shadowbox:after {
	content:'';
	background-color: black;
	width: 100%;
	height: 100%;
    opacity: .8;
    position: absolute;
    top:0px;
    left:0px;
}

#shadowbox-video {
	position: absolute;
	z-index: 1;
}

#shadow-video-container {
	margin-top: 4%;
}

@media (min-width: 992px) {
	#shadow-video-container {
		padding-bottom:37.5% !important;
	}
}

#twoGirls {
	margin: auto;
	margin-bottom:15px;
}

#videoThumbnail {
	margin: auto;
	margin-bottom: 15px;
	max-width: 400px;
	cursor: pointer;
}

.wish-list {
	margin-bottom: 0;
	padding-right: 15px;
}

/********************/

/***** Manages layout for pictures and content *****/
/* Hides xs-show for sm and bigger, and shows sm-show for the same */
@media (min-width: 768px) {
	.xs-show {
		display:none;
	}

	.sm-show {
		display:block;
	}
}

/* Shows xs-show under sm size, and hide sm-show for the same  */
@media (max-width: 767px) {
	.xs-show {
		display:block;
	}

	.sm-show {
		display:none;
	}
}